body {
  margin: 0 auto;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  height: 100px;
  width: 100%;
  position :fixed;
  top: 0;
  background-color: white;
  opacity: 0.8;
  z-index: 10;
}

header h1 {
  text-align: center;
  padding: 0px 0px 5px
}

.logo {
  width: 275px;
  height: 35px;
}

header nav ul {
  display: flex;
  justify-content: center;
  padding: 5px 0px 5px 0px;
  margin-right: 25px;
}

nav {
  margin-top: -50px;
}

nav li {
  padding:20px 20px;
}

.note_logo {
  width: 35px;
  height: 35px;
  margin-top: -7px;
}

.top {
  max-width: 100%;
}

#serviceArea h2 {
  text-align: center;
}

.service_contents {
  display: flex;
}

.writing {
  width: 50%;
  text-align: center;
  margin: 0px 20px 10px;
}

.naration {
  width: 50%;
  text-align: center;
  margin: 0px 20px 10px;
}

#worksArea {
  margin-top: 100px;
}

.blank001 {
  margin: 100px 0px 100px 0px;
  text-align: center;
}

.worksicon {
  width: 50%;
  margin: 20px auto;
  padding: 40px 20px 20px 20px;
  border: 1px solid gray;
}

.worksicon h3 {
  text-align: center;
}

.worksicon img {
  width: 50%;
}

.worksicon p {
  margin: 0px 5px 0px 5px;
}

#worksArea h2 {
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
}


#contactArea {
  text-align: center;
  margin: 0px 20px 30px 20px;
}

#contactArea h2 {
  margin-top: 80px;
}

footer {
  text-align: center;
}

@media all and (max-width: 540px) {

  .logo {
    width: 220px;
    height: 28px;
  }
  header nav ul {
    display: flex;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    margin-right: 8px;
  }

  nav li {
    padding:20px 8px;
  }
  
